body{
  background-color: #ddd;
}

.container{
  margin: 0 auto;
  margin-top: 10px;
  min-width: 615px;
  max-width: 615px;
  min-height: 655px;
  background: #eae8e8; 
  border-radius: 3%;
  box-shadow: 0 8px 15px rgba(0,0,0.6); 
  position: relative;
}

.buttonContainer{
  margin: 0 auto;
  margin-top: 20px;
  min-width: 165px;
  max-width: 165px;    
 }